@use 'src/styles/rem' as *;

.ModalOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalBody {
  border: none;
  padding: rem(16px);
  background: var(--white);
  border-radius: rem(8px);
}